@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "TT Norms";
  src: url("./fonts/TTNorms/TTNorms-Medium.eot");
  src: local("./fonts/TTNorms/TT Norms Medium"),
    local("./fonts/TTNorms/TTNorms-Medium"),
    url("./fonts/TTNorms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTNorms/TTNorms-Medium.woff") format("woff"),
    url("./fonts/TTNorms/TTNorms-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TT Norms" !important;
}

svg {
  vertical-align: unset;
}

.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0 15px;
}

.ant-btn {
  font-size: 14px;
  padding: 10px 24px;
  height: auto;
}

/* .ant-menu-vertical .ant-menu-item {
  margin-top: 0;
  margin-bottom: 0 !important;
} */

.ant-menu-vertical {
  border-right: 0 !important;
}

.customized-table .ant-table-thead > tr > th {
  background: #f0f2f5;
  color: #74788d;
  font-size: 14px;
}

.anticon {
  vertical-align: middle;
  font-size: 16px;
}

.icon-btn svg {
  font-size: 20px;
  font-weight: bold;
}
