@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "TT Norms";
  src: url("./fonts/TTNorms/TTNorms-Medium.eot");
  src: local("./fonts/TTNorms/TT Norms Medium"),
    local("./fonts/TTNorms/TTNorms-Medium"),
    url("./fonts/TTNorms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/TTNorms/TTNorms-Medium.woff") format("woff"),
    url("./fonts/TTNorms/TTNorms-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("./fonts/TTNorms/TTNorms-Regular.eot");
  src: local("./fonts/TTNorms/TT Norms Regular"),
    local("./fonts/TTNorms/TTNorms-Regular"),
    url("./fonts/TTNorms/TTNorms-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/TTNorms/TTNorms-Regular.woff") format("woff"),
    url("./fonts/TTNorms/TTNorms-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "TT Norms" !important;
}

svg {
  vertical-align: unset;
}

.ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0 15px;
}

.ant-btn {
  font-size: 14px;
  padding: 10px 24px;
  height: auto;
}

/* .ant-menu-vertical .ant-menu-item {
  margin-top: 0;
  margin-bottom: 0 !important;
} */

.ant-menu-vertical {
  border-right: 0 !important;
}

.ant-table-thead > tr > th {
  background: #f0f2f5;
  color: #74788d;
  font-size: 12px;
}

.customized-table .ant-table-thead > tr > th {
  background: #f0f2f5;
  color: #74788d;
  font-size: 14px;
}

.anticon {
  vertical-align: middle;
  font-size: 16px;
}

.icon-btn svg {
  font-size: 20px;
  font-weight: bold;
}

.compact-form .ant-form-item {
  margin-bottom: 0px;
}

.compact-form label {
  font-size: 12px;
  font-weight: 300;
  color: #74788d;
}

.compact-form .ant-form-item-label {
  padding-bottom: 0px;
}

.compact-form .ant-input-group-addon {
  font-size: 12px;
  font-weight: 300;
}

.virtual-table .ant-table-container:before,
.virtual-table .ant-table-container:after {
  display: none;
}
.virtual-table-cell {
  box-sizing: border-box;
  padding: 8px 9px;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
  background: #fff;
}
[data-theme="dark"] .virtual-table-cell {
  box-sizing: border-box;
  padding: 8px 16px;
  border-bottom: 1px solid #303030;
  background: #141414;
}

.green-switch.ant-switch-checked {
  background-color: #34c38f;
}
